header{
    background-color: #373B53;
    display: flex;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    a{
        .Container{
            background-color: #7c5dfa;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-bottom-right-radius: 20px;
            border-start-end-radius: 20px;
            img{
                z-index: 1000;
                width: 60%;
            }
            div{
                border-bottom-right-radius: 20px;
                background-color: #9681FA;
                width: 100%;
                position: absolute;
                bottom: 0px;
                height: 50%;
                border-top-left-radius: 30px;
            }
        }
    }
    .UserContainer{
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: space-between;
        margin-right: 10px;
        button{
            background: none;
            border: none;
            border-right: 1px solid gray;
            padding-right: 10px;
            cursor: pointer;
        }
        .BackgroundButton:hover{
            filter: invert(.5);
        }
        .Avatar{
            width: 50px;
            border-radius: 50px;
        }
    }
    @media (min-width: 1000px) {
        flex-direction: column;
        height: 100vh;
        width: 72px;
        align-items: center;
        position: fixed;
        top: 0px;
        .UserContainer{
            flex-direction: column;
            margin-right: 0px;
            margin-bottom: 10px;
            height: 100px;
            button{
                border-right: none;
            }
        }
    }
}