<div class="ContainerForm" [class.Active]='ShowElement' [class.changeBackground]='colorBackground'>
  <div class="FormHeader">
    <h2 *ngIf='!edit; else OnlyId'>New <span>#</span>{{id}}</h2>
    <ng-template #OnlyId>
      <h2 *ngIf='edit'><span>#</span>{{id}}</h2>
    </ng-template>
    <img (click)='closeForm()' src='./assets/images/times-circle-solid.svg' alt='close' />
  </div>
  <form [formGroup]='formCreate' (submit)='send("pending")'>
    <h3>Bill From</h3>
      <mat-form-field class="SimpleInput">
        <mat-label>Street Address</mat-label>
        <input type="text" matInput formControlName="Address">
        <mat-error *ngIf='ElementValidator("Address")'>
              Please enter a Street Address
            </mat-error>
      </mat-form-field>
    <div class="ElementTwo">
      <mat-form-field class="SimpleInput">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName='city'>
        <mat-error *ngIf='ElementValidator("city")'>
              Please enter a City
            </mat-error>
      </mat-form-field>
      <mat-form-field class="SimpleInput">
        <mat-label>Post Code</mat-label>
        <input type="text" matInput formControlName='postCode'>
        <mat-error *ngIf='ElementValidator("postCode")'>
              Please enter a Post Code
            </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="SimpleInput">
      <mat-label>Country</mat-label>
      <input type="text" matInput formControlName='country'>
      <mat-error *ngIf='ElementValidator("country")'>
            Please enter a Country
          </mat-error>
    </mat-form-field>
    <h3>Bill To</h3>
    <mat-form-field class="SimpleInput">
      <mat-label>Client's Name</mat-label>
      <input type="text" matInput formControlName='ClientName'>
      <mat-error *ngIf='ElementValidator("ClientName")'>
            Please enter a Client's Name
          </mat-error>
    </mat-form-field>
    <mat-form-field class="SimpleInput">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName='ClientEmail'>
      <mat-error *ngIf='ElementValidator("ClientEmail")'>
            Please enter a Email
          </mat-error>
    </mat-form-field>
    <mat-form-field class="SimpleInput">
      <mat-label>Street Address</mat-label>
      <input type="text" matInput formControlName='ClientAddress'>
      <mat-error *ngIf='ElementValidator("ClientAddress")'>
            Please enter a Street Address
          </mat-error>
    </mat-form-field>
    <div class="ElementTwo">
      <mat-form-field class="SimpleInput">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName='ClientCity'>
        <mat-error *ngIf='ElementValidator("ClientCity")'>
              Please enter a City
            </mat-error>
      </mat-form-field>
      <mat-form-field class="SimpleInput">
        <mat-label>Post Code</mat-label>
        <input type="text" matInput formControlName='ClientCode'>
        <mat-error *ngIf='ElementValidator("ClientCode")'>
              Please enter a Post Code
            </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="SimpleInput">
      <mat-label>Country</mat-label>
      <input type="text" matInput formControlName='ClientCountry'>
      <mat-error *ngIf='ElementValidator("ClientCountry")'>
            Please enter a Country
          </mat-error>
    </mat-form-field>
    <mat-form-field color="accent" appearance="fill" class="SimpleInput">
      <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName='Date'>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
        <mat-error *ngIf='ElementValidator("Date")'>
          Please enter a Post Code
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="SimpleInput">
      <mat-label>Payment Terms</mat-label>
      <mat-select formControlName='PayTerms' required>
        <mat-option>--</mat-option>
        <mat-option [value]="1">Net 1 Days</mat-option>
        <mat-option [value]="7">Net 7 Days</mat-option>
        <mat-option [value]="14">Net 14 Days</mat-option>
        <mat-option [value]="30">Net 30 Days</mat-option>
      </mat-select>
      <mat-error *ngIf='ElementValidator("PayTerms")'>Please choose an Payment</mat-error>
    </mat-form-field>
    <mat-form-field class="SimpleInput" appearance="fill">
      <mat-label>Project Description</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." formControlName='description'></textarea>
      <mat-error *ngIf='ElementValidator("description")'>
        Please enter a Project Description
      </mat-error>
    </mat-form-field>
    <h3>Item List</h3>
    <div class="AddContainer" *ngFor='let elemet of ItemList; let i = index'>
      <mat-form-field class="SimpleInput">
        <mat-label>Item Name</mat-label>
        <input type="text" matInput [(ngModel)]='ItemList[i].itemName' [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div class="ElementThree">
        <mat-form-field class="SimpleInput">
          <mat-label>Qty.</mat-label>
          <input type="text" matInput [(ngModel)]='ItemList[i].Qty' [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="SimpleInput">
          <mat-label>Price</mat-label>
          <input type="text" matInput [(ngModel)]='ItemList[i].Price' [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)='deleteItem(i)'>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button type='button' (click)='AddNewItem()' class="AddNewItem">+Add New Item</button>
    <p class="error" *ngIf='error'>All fields are required</p>
    <div class="FooterForm">
      <button (click)='closeForm()'>Discard</button>
      <button class="Draft" (click)='send("draft")' *ngIf="!edit">Save as Draft</button>
      <input *ngIf='!edit' type='submit' value="Send">
      <input *ngIf='edit' type='submit' value="Edit">
    </div>
  </form>
</div>
