<nav>
    <div class="ElementCount">
        <h2>Invoices</h2>
        <p>6 Invoices</p>
    </div>
    <div class="ElementsSelect">
        <div class="FilterContainer">
            <button
            (click)='changePanel()'
            >Filter <img [class.rotate]="panelOpenState" src='./assets/images/icon-arrow-down.svg' alt='Arrow Down'/></button>
            <div class='CheckboxContainer' [class.active]="panelOpenState">
                <div>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1">Paid</label>
                </div>
                <div>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2">Pending</label>
                </div>
                <div>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3">Draft</label><br>
                </div>
            </div>
        </div>
    <button (click)='NewProduct()'>
        <div>
            <img src='./assets/images/icon-plus.svg' alt='Plus'/>
        </div>
        New
    </button>
    </div>
</nav>
