<nav
[class.changeBackground]='colorBackground'
>
    <div class="ElementCount">
        <h2>Invoices</h2>
        <p>{{count}} Invoices</p>
    </div>
    <div class="ElementsSelect">
        <div class="FilterContainer">
            <button
            (click)='changePanel()'
            >Filter <img [class.rotate]="panelOpenState" src='./assets/images/icon-arrow-down.svg' alt='Arrow Down'/></button>
            <div class='CheckboxContainer' [class.active]="panelOpenState">
                <div *ngFor="let subtask of task">
                    <mat-checkbox [(ngModel)]="subtask.completed"
                                [color]="subtask.color"
                                (ngModelChange)="updateAllComplete()">
                    {{subtask.name}}
                  </mat-checkbox>
                </div>
            </div>
        </div>
    <button (click)='NewProduct()'>
        <div>
            <img src='./assets/images/icon-plus.svg' alt='Plus'/>
        </div>
        New
    </button>
    </div>
</nav>
