section{
    background: #F8F8FB;
    padding-block: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
        width: 100%;
        max-width: 600px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        margin: 0 auto;
        img{
            margin-right: 10px;
        }
    }
    .StatusContainer{
        background: white;
        border-radius: 10px;
        padding: 15px;
        margin: 20px auto;
        width: 91%;
        max-width: 600px;
        div{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 1rem;
                margin: 0px;
            }
        }
        .Modification{
            display: none;
            button{
                margin-inline: 10px;
            }
        }
    }
    .Container{
        background: white;
        width: 91%;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 15px;
        .Header{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                margin-bottom: 20px;
            }
            div:first-child{
                h2, p {
                    margin: 0px;
                    color: rgb(126, 136, 195);
                    span{
                        color: black;
                    }
                }
            }
            div:last-child{
                p{
                    margin: 5px 0px;
                    color: rgb(126, 136, 195);
                    font-size: 1rem;
                }
            }
        }
        .ContainerInfo{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                h3{
                    color: rgb(126, 136, 195);
                    font-size: .9rem;
                    margin: 0px;
                }
                p{
                    margin: 0px;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                ul{
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        color: rgb(126, 136, 195);
                    }
                }
            }
        }
        .PayInformation{
            background-color: rgb(248, 248, 251);
            border-radius: 10px;
            width: 100%;
            .Elements{
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 1.1rem;
                    margin: 0px;
                    font-weight: 700;
                }
                div{
                    h3, p{
                        margin: 0px;
                    }
                    h3{
                        font-size: .9rem;
                    }
                    p{
                        color: rgb(126, 136, 195);
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
            }
            .total{
                width: 91%;
                background: black;
                color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1rem;
                p:last-child{
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
    @media (min-width: 600px) {
        .StatusContainer, .Container{
            padding-inline: 35px;
        }
        .Header, .ContainerInfo{
            margin-bottom: 30px;
        }
        .StatusContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Modification{
                display: block;
            }
        }
    }
}
button{
    margin: 0px;
    color: #7E88C3;
    border: none;
    background: #efeff5;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
}
.Delete{
    background: #ff0000cf;
    color: white;
} 
.Paid{
    background: #7558ED;
    color: white;
}
.Footer{
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 20px 1px rgba(193, 193, 193, .2);
    input{
        margin: 0px;
        color: #7E88C3;
        border: none;
        background: #efeff5;
        font-size: 1.1rem;
        padding: 10px 15px;
        border-radius: 25px;
    }
    @media (min-width: 600px) {
        display: none;
    }
}
