section{
    $firstColor: black;
    background: #F8F8FB;
    padding-block: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    transition: all 1s ease;
    min-height: 85vh;
    a{
        width: 100%;
        max-width: 600px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        margin: 0 auto;
        cursor: pointer;
        img{
            margin-right: 10px;
        }
    }
    .StatusContainer{
        background: white;
        border-radius: 10px;
        padding: 15px;
        margin: 20px auto;
        width: 91%;
        max-width: 600px;
        transition: all 1s ease;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 1rem;
                margin: 0px;
            }
        }
        .Modification{
            display: none;
            button{
                margin-inline: 10px;
            }
        }
    }
    .Container{
        background: white;
        width: 91%;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 15px;
        transition: all 1s ease;
        .Header{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                margin-bottom: 20px;
            }
            div:first-child{
                h2, p {
                    margin: 0px;
                    color: rgb(126, 136, 195);
                    span{
                        text-transform: uppercase;
                        color: black;
                    }
                }
            }
            div:last-child{
                p{
                    margin: 5px 0px;
                    color: rgb(126, 136, 195);
                    font-size: 1rem;
                }
            }
        }
        .ContainerInfo{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                h3{
                    color: rgb(126, 136, 195);
                    font-size: .9rem;
                    margin: 0px;
                }
                p{
                    margin: 0px;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                ul{
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        color: rgb(126, 136, 195);
                    }
                }
            }
        }
        .PaymentContainer{
          background-color: rgb(248, 248, 251);
          border-radius: 10px;
        .PayInformation{
            width: 100%;
            transition: all 1s ease;
            .Elements{
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 1.1rem;
                    margin: 0px;
                    font-weight: 700;
                }
                div{
                    h3, p{
                        margin: 0px;
                    }
                    h3{
                        font-size: .9rem;
                    }
                    p{
                        color: rgb(126, 136, 195);
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
            }
          }
            .total{
                background: black;
                color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1rem;
                p:last-child{
                    font-size: 1.1rem;
                    font-weight:500;
                }
            }
        }
    }
    @media (min-width: 600px) {
        .StatusContainer, .Container{
            padding-inline: 35px;
        }
        .Header, .ContainerInfo{
            margin-bottom: 30px;
        }
        .StatusContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Modification{
                display: block;
            }
        }
    }
    @media (min-width: 1000px) {
        padding-top: 30px;
        min-height: 93.5vh;
    }
}
button{
    margin: 0px;
    color: #7E88C3;
    border: none;
    background: #efeff5;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
}
.Delete{
    background: #ff0000cf !important;
    color: white;
}
.Paid{
    background: #7558ED !important;
    color: white;
}
.Footer{
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 20px 1px rgba(193, 193, 193, .2);
    input{
        margin: 0px;
        color: #7E88C3;
        border: none;
        background: #efeff5;
        font-size: 1.1rem;
        padding: 10px 15px;
        border-radius: 25px;
    }
    @media (min-width: 600px) {
        display: none;
    }
}
.paid, .pending, .draft{
    padding: 5px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px !important;
    &.paid{
        background: #99f38e42;
        color: #15bb00bf;
    }
    &.pending{
        background: #f9c97254;
        color: #ffac15;
    }
    &.draft{
        background: #c7c7c752;
        color: black;
    }
}
.changeBackground{
    background: #141625;
    a{
        color: white;
    }
    .StatusContainer{
        background: #1F2139;
        color: white;
        div > button{
            background: #252945;
            color: white;
        }
    }
    .Container{
        background: #1F2139 !important;
        .Header{
            h2 > span{
                color: white !important;
            }
        }
    }
    .ContainerInfo > div {
        h3{
            color: rgb(201, 201, 201) !important;
        }
        p{
            color: white !important;
        }
    }
    .PayInformation{
        background: #252945 !important;
        color: white !important;
    }
}
