a{
    text-decoration: none;
    cursor: pointer;
}
.Container{
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 710px;
    margin: 0 auto;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: all 1s ease;
    &:hover{
        border:1px solid #7C5DFA;
    }
    .ArrowRight{
        margin-left: 10px;
        display: none;
    }
    h3, p {
        margin: 0px;
    }
    h3{
        color: #7E88C3;
        font-size: .9rem;
        margin-bottom: 15px;
        span{
            color: black;
        }
    }
    p{
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: black;
    }
    .Name{
        display: none;
    }
    .Date, .Name{
        color: #7E88C3;
        font-size: .9rem;
        margin-block: 5px;
        letter-spacing: 0px;
        font-weight: 200;
    }
    .NamePayment{
        display: flex;
        flex-direction: column;
        p{
            font-size: .8rem;
            font-weight: 200;
            color: #7E88C3;
        }
        .Payment{
            p{
                padding: 5px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 5px;
                font-size: .8rem;
                font-weight: 400;
                &.paid{
                    background: #99f38e42;
                    color: #15bb00bf;
                }
                &.pending{
                    background: #f9c97254;
                    color: #ffac15;
                }
                &.draft{
                    background: #c7c7c752;
                    color: black;
                }
            }
        }
    }
    @media (min-width: 500px) {
        .ContainerDetails{
            display: flex;
            align-items: center;
            width: 320px;
            justify-content: inherit;
            h3{
                margin: 0px;
            }
        }
    }
    @media (min-width: 700px) {
        padding: 15px 30px;
        .ContainerDetails{
            width: 410px;
        }
        .Name{
            display: block;
        }
        .PersonName{
            display: none;
        }
        .NamePayment{
            flex-direction: row;
            align-items: center;
            button{
                margin-right: 10px;
            }
        }
        .ArrowRight{
            display: block;
        }
    }
}
.changeBackground{
    background: #1F2139;
    color: white;
    p{
        color: white;
    }
    h3 > span{
        color: white;
    }
}