<a routerLink='id'>
    <div class="Container">
    <div class="ContainerDetails">
        <h3>#<span>{{itemContainer.id}}</span></h3>
        <p class='Date'>Due 18 Aug 2021</p>
        <p class="Name">Jensen Huang</p>
        <p>$ 1,800.90</p>
    </div>
    <div class='NamePayment'>
        <p class="PersonName">Jensen Huang</p>
        <button [class.active]="paymentButton">
            <p
            *ngIf='!paymentButton; else preding'
            ><mat-icon>check_circle_outline</mat-icon>Paid</p>
            <ng-template #preding>
                <p><mat-icon>cancel</mat-icon>Preding</p>
            </ng-template>
        </button>
        <img 
    class="ArrowRight"
    src='./assets/images/icon-arrow-right.svg' alt='Arrow'/>
    </div>
    </div>
</a>